main{
    padding-top: 56px;
}
.topic{
    width: 75%;
    min-height: 280px;
    margin: 30px auto;
    border-radius: 10px;
    padding: 3%;
    display: flex;
    justify-content: center;
    text-shadow: 0 5px 5px black;
    transition: 1s;
}
.topic:hover,.comp_cnt:hover,.ref_cnt:hover{
    background-color: #d9b5ad;
}
.topic_t{
    padding:0 10% 0 5%;
}
.topic_w{
    padding: 5%;
}
.t_main{
    margin-bottom: 0px;
}
#titlec {
    transition: opacity 1s;
}
#n_home,#n_about,#n_intro,#n_eat,#n_comp,#n_exp,#n_other,#n_dif,#n_ref{
    transition:color 1s;
}
#n_home:hover,#n_about:hover,#n_intro:hover,#n_eat:hover,#n_comp:hover,#n_exp:hover,#n_other:hover,#n_dif:hover,#n_ref:hover{
    cursor:pointer;
    color:white;
}
#titlec:hover{
    cursor: pointer;
    opacity: 0;
}
.info{
    width: 75%;
    min-height: 370px;
    margin:30px auto;
    border-radius: 10px;
    padding:3%;
    transition: 1s;
    text-shadow: 0 5px 5px white;
}
.info:hover,.other_cnt:hover,.after_cnt:hover{
    background-color: #cdcdcd;
}
.cover_img_wrap{
    margin-left: 50px;
    width: 18%;
    float: left;
    transition: 2s;
}
.cover_img_wrap:hover{
    transform:scale(2) translate(100%,0px);
}
.cover_img{
    width: 100%;
}
.info_detail{
    width: 60%;
    margin-left:8%;
    float: left;
}
.wrap_btn{
    width: 70%;
    margin:30px auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.next_btn{
    padding:10px;
    border-radius: 10px;
    border:none;
    margin:10px;
    transition: 1s;
}
.next_btn:hover{
    background-color: #c3baa8;
    box-shadow: 0 0 20px #c3baa8;
}
.wordnimg{
    width: 100%;
    display: flex;
    justify-content: center;
}
.about_cnt{
    width: 75%;
    min-height: 900px;
    margin:30px auto;
    border-radius: 10px;
    padding:3% 5%;
    transition: 1s;
}
.about_cnt:hover,.exp_cnt:hover{
    background-color: #c3baa8;
}
.about_word{
    width: 60%;
    float: left;
    padding: 20px;
}
.about_video{
    width: 40%;
    float: left;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.txt{
    margin-top: 15px;
    line-height: 35px;
}
.sg_img_wrap{
    width: 40%;
    margin:70px 10px 10px 10px;
    float: left;
    border-radius: 10px;
}
.sg_img_wrap>img{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}
.about_v_wrap{
    width: 80%;
    margin-top:20px;
    border-radius: 10px;
}
.about_v_wrap>iframe{
    border-radius: 10px;
}
.music_btn{
    position: fixed;
    top:80px;
    left:30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:none;
    transition: 1s;
}
.music_btn:hover,.music_btn::after{
    border:none;
    background-color: #cdcdcd;
    box-shadow: 0 0 10px #cdcdcd;
}
.intro_cnt{
    width: 75%;
    min-height: 500px;
    margin:30px auto;
    border-radius: 10px;
    padding:3% 5%;
    transition: 1s;
}
.intro_cnt:hover,.dif_cnt:hover{
    background-color: #53423b;
}
.eat_cnt{
    width: 75%;
    margin:30px auto;
    border-radius: 10px;
    padding:3% 5%;
    transition: 1s;
}
.eat_cnt:hover{
    background-color: #d9cec1;
}
.eat_img_wrap{
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 30px auto;
}
.eat_img_wrap>img{
    position:relative;
    width: 100%;
    border: none;
    border-radius: 10px;
}
.comp_cnt{
    width: 75%;
    margin:30px auto;
    border-radius: 10px;
    padding:3% 5%;
    transition: 1s;
}
.comp_tb{
    width: 100%;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px #53423b, inset 0 0 10px #53423b;
}
th{
    width: 33%;
}
th,td{
    text-align: center;
    border:none;
    box-shadow: 0 0 3px #53423b, inset 0 0 3px #53423b;
    padding: 8px;
}
.tb_wrap_img{
    margin:5px auto;
    width: 80%;
}
.tb_wrap_img>img{
    position: relative;
    width: 100%;
}
.comp_link{
    text-decoration: none;
    transition: 1s;
}
.comp_link:hover{
    color: white;
}
.comp_link::after{
    color:black;
}
.exp_cnt{
    width: 75%;
    margin:30px auto;
    border-radius: 10px;
    padding:3% 5%;
    transition: 1s;
}
.wordaimg{
    width: 100%;
    display: flex;
    justify-content: start;
    margin: 30px auto;
}
.lines{
    margin:40px auto 15px;
    text-shadow:0px 0px 10px white;
}
.other_cnt{
    width: 75%;
    margin:30px auto;
    border-radius: 10px;
    padding:3% 5%;
    transition: 1s;
}
.other_detail{
    width: 60%;
    float: left;
    margin-left: 2%;
}
.dif_cnt{
    width: 75%;
    margin:30px auto;
    border-radius: 10px;
    padding:3% 5%;
    transition: 1s;
}
.dif_v{
    width: 100%;
    display: flex;
    justify-content: center;
}
.dif_v>iframe{
    width: 60%;
    min-height: 300px;
    border-radius: 10px;
}
.after_cnt{
    width: 75%;
    margin:30px auto;
    border-radius: 10px;
    padding:3% 5%;
    transition: 1s;
}
.ref_cnt{
    width: 75%;
    margin:30px auto;
    border-radius: 10px;
    padding:3% 5%;
    transition: 1s;
}
.ref_cnt>p>a{
    color: #cdcdcd;
    transition: 1s;
}
.ref_cnt>p>a:hover{
    color: #53423b;
}
.ref_cnt>p>a::after{
    columns: #cdcdcd;
}
.intro_img_wrap{
    width: 60%;
    display: flex;
    justify-content: center;
    margin: 30px auto;
}
.intro_img_wrap>img{
    position:relative;
    width: 100%;
    border: none;
    border-radius: 10px;
}